<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/listings">Browse Listings</a>
        </div>
          
        <div class="navbar-nav ms-auto">
          <% if(!currUser){ %>
          <a class="nav-link" href="/login">Log in</a>
          <a class="nav-link" href="/login?redirect=/host/dashboard">Login as Host</a>
          <% } %>
          <% if(currUser){ %>
          <a class="nav-link <% if (currentRoute === '/wishlist') { %>active<% } %>" href="/wishlist">My WishList</a>
          <a class="nav-link" href="/reserve/bookings">My Bookings</a>
          <a class="nav-link" href="/logout">Log out</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>